#background {
    position: fixed;
    width: 100vw;
    background-position: 0%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    z-index: -1;
}

/*layout css*/
.grid-container {
    display: grid;
    height: 98vh;
    width: 100vw;
    margin: auto;
    gap: 0px;
    grid-template-columns: 5fr 20fr;
    grid-template-rows: 70%;
    grid-template-areas:
    'hd n'
    'm m'
    'ft ft'
}

body {
    overflow-x: hidden;
    margin: 0%;
}

/*grid-area css*/
header {
    
    grid-area: hd;
    margin-top: .4vh;
    border-radius: 0%;
    margin-left: 2vw;
    height: 20vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}
nav {
    grid-area: n;
    width:80vw;
    margin-top: 1vh;
    margin-left: 20vw;
    margin-right: 0%;
    background-color: transparent;
    border-radius: 0%;
    height: 50px;
    position: fixed;
    z-index: 1;
}
main {
    grid-area: m;
    background-color: white;
    margin-top: 0;
}
footer {
    grid-area: ft;
    background-color: lightgreen;
}

/*header and navigation css*/
#logo {
    width: 15vw;
    border-radius: 50%;
}
.navigation {

    margin-left: 3%;
    margin-right: 3%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    background-color: lightgreen;
    display: inline-block;
    position: sticky;
}

/*footer layout*/
.foot-block {
    display: inline-block;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
}
#copyright {
    text-align: left;
}

/*text css*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 3vw;
}
h3 {
    font-size: 2vw;
}
h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}
h2, h3 {
    padding-left: 5vw;
    padding-right: 5vw;
}
a {
    color: black;
    text-decoration: none;
}

/*topic image css*/
.topic-img {
    width: 100vw;
    padding: 0%;
    margin: 0%;
}