.grid-container {
    display: grid;
    height: 98vh;
    width: 70%;
    margin: auto;
    gap: 14px;
    grid-template-columns: 10fr;
    grid-template-rows: 80%;
    grid-template-areas:
    'hd hd'
    'n n'
    'm m'
    'ft ft'
}

body {
    background-color: aqua;
    margin: 0;
    overflow-x: hidden;
}

header {
    grid-area: hd;
    border-radius: 0%;
}
nav {
    grid-area: n;
    background-color: cornflowerblue;
    border-radius: 0%;
    height: 5vh;
}
main {
    grid-area: m;
    background-color: chartreuse;
    
}
footer {
    grid-area: ft;
}


img {
    width: 100%;
    padding-bottom: auto;
}