.grid-container {
    display: grid;
    height: 98vh;
    width: 98vw;
    margin: auto;
    gap: 0px;
    grid-template-columns: 5fr 20fr;
    grid-template-rows: 70%;
    grid-template-areas:
    'hd n'
    'm m'
    'ft ft'
}

body {
    overflow-x: hidden;
    margin: 0%;
}

header {
    
    grid-area: hd;
    margin-top: .4vh;
    border-radius: 0%;
    margin-left: 2vw;
    height: 20vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}
nav {
    grid-area: n;
    width:80vw;
    margin-top: 1vh;
    margin-left: 20vw;
    margin-right: 0%;
    background-color: transparent;
    border-radius: 0%;
    height: 50px;
    position: fixed;
    z-index: 1;
}
main {
    grid-area: m;
    background-color: chartreuse;
    margin-top: 0;
    margin-left: 5vw;
    margin-right: 5vw;
}
footer {
    grid-area: ft;
    margin-left: 5vw;
    margin-right: 5vw;
}

#logo {
    width: 15vw;
    border-radius: 50%;
}

.navigation {
    width: 10vw;
    height: 5vw;
    margin-left: 5%;
    margin-right: 5%;
    background-color: aqua;
    display: inline-block;
    position: sticky;
}

p {
    font-size: 1.5vw;
}