.grid-container {
    display: grid;
    height: 98vh;
    width: 98vw;
    margin: auto;
    gap: 0px;
    grid-template-columns: 5fr 20fr;
    grid-template-rows: 70%;
    grid-template-areas:
    'hd n'
    'm m'
    'ft ft'
}

body {
    overflow-x: hidden;
    margin: 0%;
}

header {
    
    grid-area: hd;
    margin-top: .4vh;
    border-radius: 0%;
    margin-left: 2vw;
    height: 20vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
}
nav {
    grid-area: n;
    width:auto;
    margin-top: .4vh;
    background-color: transparent;
    border-radius: 0%;
    height: 20vh;
    position: fixed relative;
    z-index: 1;
}
main {
    grid-area: m;
    background-color: chartreuse;
    
}
footer {
    grid-area: ft;
}

#logo {
    width: 20vh;
    border-radius: 50%;
}

#page-name {
    position: fixed;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 2.5vh;
    background-color: black;
    color: white;
    padding: .3vh;
    margin-left: 1.7vh;
    margin-top: -5vh;
}

.navigation {
    width: 15%;
    height: 30vh;
    margin: 5%;
    display: inline-block;
}